<!DOCTYPE html>
<html lang="es-PE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Agile Day Tacna</title>
  <link rel="stylesheet" href="/css/agile/font-awesome.min.css">
  <link rel="stylesheet" href="/css/agile/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/agile/bootstrapValidator.min.css" type="text/css" media="all">
    <link type="text/css" rel="stylesheet" href="/css/agile/styles.css">

  <script src="/js/agile/jquery.min.js"></script>
  <script src="/js/agile/bootstrap.min.js"></script>
  <script src="/js/agile/bootstrapValidator.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AGILE DAY TACNA</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#facilitadores">Facilitadores</a></li>
            <li><a href="#programa">Programa</a></li>
            <li><a href="#organizadores">Organizadores</a></li>
            <li><a href="#auspiciadores">Auspiciadores</a></li>
            <li><div class="btn-nav"><a href="#registrarse" class="btn btn-danger btn-small navbar-btn">Pre Inscripción</a></div></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <header id="myCarousel" class="carousel slide">





        <!-- Wrapper for Slides -->

        <div class="carousel-inner">

            <div class="item active">

                <!-- Set the first background image using inline CSS below. -->

                <div class="fill" style="background-image:url('/img/agile/tacnafondo-min.png');"></div>

                <div class="carousel-caption">

                    <!--<h2>Caption 1</h2>-->

                </div>

            </div>

        </div>

<!--Luis Felipe Vega - Edison-->

        <div class="container count">
          <div class="titles">
            <h2>Agile Day Tacna</h2>
            <h3>03 de Setiembre del 2016, Tacna - Perú</h3>
          </div>

          <div class="responsive simply-countdown-losange" id="simply-countdown-losange">




          <script src="/js/agile/simplyCountdown.js"></script>

          <script>

            var d = new Date(new Date().getTime() + 48 * 120 * 120 * 2000);

            console.log(d);

            //jQuery example

            $('#simply-countdown-losange').simplyCountdown({

              year: 2016,

              month: 09,

              day: 03,

              //enableUtc: false

            });

          </script>

        </div>
    </header>

    <div class="page">
      <div class="container">
        <div class="content">
          <h3 id="nosotros">Nosotros</h3>
          <div class="colorBg">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4 col-sm-4 col-md-offset-4">
                <img src="/img/agile/agilepuno.jpg" alt="Pic" class="img-responsive center-block">
                <h3 style="margin: 0;margin-top: 40px;">En Tacna</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p>AGILE PERÚ, es una organización de profesionales exitosos en el desarrollo de Tecnologías,
              principalmente el desarrollo de Software, con reconocido éxito en las tendencias mundiales del uso de estas metodologías y herramientas; todas las personas del sector de tecnologías, sean Sistemas, Software, Informática, Computación y afines sabe del éxito mundial de estas metodologías, esta vez Tacna tendrá la oportunidad de tenerlo en vivo, ven a ser parte de esta experiencia.
              <br><br>
              AGILE PERÚ no tiene fines de lucro y su objetivo es compartir el conocimiento con los interesados así puedan desarrollarse mejor en sus ramas laborales en un ambiente colaborativo, por ello los ponentes no están cobrando nada para impartir sus conocimientos y experiencias, sacrificando tiempos de trabajo y demás; pero igual genera un costo mínimo que será fácilmente cubierto.
              <br><br>
              Se cuenta con la participación de la Escuela Profesional de Ingeniería en Informática y Sistemas, y se espera que todos las personas interesadas asistan, logrando así un gran evento, gracias.
              </p>
            </div>
          </div>
          </div>

          <h3 id="facilitadores">Facilitadores</h3>
          <div class="row">
            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/deusdit.jpg" width="330" alt="Pic" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                    <a  target="_blank" href="https://pe.linkedin.com/in/deusditcorreac">Deusdit Correa Cornejo</a>
                  </h5>
                  <span>Country Manager at Taller Technologies</span>
                </div>
           {{!--      <p class="mb0">Assertive and proficient leader with comprehensive business and innovative orientation as well as with strong analytic and synthesis skills for dealing with strategic situations.

Managerial experience in both traditional, PMI-based (PMBOK) and agile environments with overseas experience working in a multi-cultural environment.

Speaker in local and international events about the relevance of Agile/Lean methodologies in Software Development industry from a technical and business point of view.

Self-starting innovator, researcher about best practices and system dynamics applied to strategy, innovation, project management and sustainable product development.

MBA and MSc. in Strategic Management, studies performed in Peru and France in order to improve my knowledge and competences.

Certified ScrumMaster (CSM), Certified Microsoft Database Administrator (MCDBA), Certified Microsoft Application Developer (MCAD).

Co-founder of Agile Peru movement (http://www.agile-peru.net/)></p> --}}
              </div>
            </div>
            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/armando.jpg" width="330" alt="Pic" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                   <a target="_blank" href="https://pe.linkedin.com/in/armandopicon"> Armando Picon </a>
                  </h5>
                  <span>Android & Software Developer </span>
                </div>
                <p class="mb0">
</p>
              </div>
            </div>


            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/rosamaria.jpg"  width="330" alt="Pic" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                    <a target="_blank"  href="https://pe.linkedin.com/in/rosamariaorellana"> Rosa María Orellana Maldonado  </a>
                  </h5>
                  <span>Agile Transformation Leader/ Fintech & Innovation Engineer</span>
                </div>
                <p class="mb0">
                </p>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/uzi.png" alt="Pic" width="330" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                    <a  target="_blank" href="https://pe.linkedin.com/in/uzimamani/es"> Uzi Mamani Fernandez</a>
                  </h5>
                  <span>Professional Developer </span>
                </div>
                <p class="mb0"></p>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/oscaramelunge.jpg"  width="330" alt="Pic" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                    <a  target="_blank" href="https://bo.linkedin.com/in/oscar-amelunge-39b17a11">Oscar Amelunge</a>
                  </h5>
                  <span>PMI-ACP, Certified Scrum Professional Scrum Alliance</span>
                </div>
                <p class="mb0"></p>
              </div>
            </div>

            <div class="col-sm-4 col-md-4 mb1">
              <div class="profile text-center">
                <img src="/img/agile/kevin.jpg"  width="330" alt="Pic" class="img-circle img-responsive center-block">

                <div class="title mb16">
                  <h5 class="uppercase mb0 bold">
                    <a  target="_blank" href="https://pe.linkedin.com/in/kevin-armstrong-2889b8102/es">Kevin Armstrong</a>
                  </h5>
                  <span>Digital Design at La Victoria Lab</span>
                </div>
                <p class="mb0"></p>
              </div>
            </div>





          </div>
          <hr>

          <h3 id="programa">Programa</h3>
          <h1 class="text-center">Universidad Nacional Jorge Basadre Grohmann</h1>

  <h4>Sabado 03 de Setiembre del 2016</h4>
  <table class="table table-hover">
    <tbody>
      <tr>
      <th>HORA</th>
      <th>DESCRIPCIÓN</th>
      <th>PONENTE</th>
      </tr>
      <tr>
      <th>08:00</th>
      <td>Registro de asistencia</td>
      <td>&nbsp;</td>
      </tr>

      <tr>
      <th>08:20</th>
      <td>Agilidad en la empresa</td>
      <td>Deusdit Correa</td>
      </tr>

      <tr>
      <th>09:05</th>
      <td>Agile VS Waterfall Clash of Titans</td>
      <td>Oscar Amelunge</td>
      </tr>

      <tr>
      <th>9:50</th>
      <td>Transformación ágil</td>
      <td>Rosa Maria Orellana</td>
      </tr>
      <tr>

      <th>10:35</th>
      <td>Break (networking) </td>
      <td></td>
      </tr>

      <tr>
      <th>10:55</th>
      <td>Arquitectura Ágil de Software</td>
      <td>Uzi Mamani</td>
      </tr>
      <tr>
      <th>11:40</th>
      <td>Desarrollo Móvil en android</td>
      <td>Armando Picón</td>
      </tr>

      <tr>
      <th>12:25</th>
      <td>Libre</td>
      <td>&nbsp;</td>
      </tr>

      <tr>
      <th>14:30</th>
      <td>Design Thinking: creando nuevos productos, servicios y experiencias para las familias peruanas</td>
      <td>Kevin Armstrong</td>
      </tr>

      <tr>
      <td rowspan="5">
      <strong>15:15</strong>
      </td><td colspan="2">
      <strong>&nbsp;</strong>
      <strong>TALLERES (4 Talleres , previo registro)</strong>

      &nbsp;</td>
      </tr>
      <tr>
      <td>Desarrollo Móvil con Android. <strong>(Llevar laptop con Android Studio)</strong></td>
      <td>Armando Picon</td>
      </tr>
      <tr>
      <td> Story Mapping</td>
      <td>Rosa Maria Orellana</td>
      </tr>

      <tr>
      <td>Patrones de Diseño. <strong>(Llevar laptop con Visual Studio Community Edition)<strong></td>
      <td>Uzi Mamani</td>
      </tr>
      <tr>
      <td>Agile Inception</td>
      <td>Oscar Amelunge</td>
      </tr>


      <tr>
      <th>18:00</th>
      <td>BREAK NETWORKING</td>
      <td>&nbsp;</td>
      </tr>

      <tr>
      <th>18:20</th>
      <td>Desarrollo de software en la Zona Franca de Tacna</td>
      <td>ZOFRATACNA</td>
      </tr>

      <tr>
      <th>18:50</th>
      <td>CLAUSURA - CIERRE DEL EVENTO</td>
      <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
          <h3 id="organizadores">Organizadores</h3>

          <div class="row">

            <div class="col-md-4">
              <img src="/img/agile/agilepuno.jpg" alt="Pic" width="250" class="img-responsive center-block">
            </div>
            <div class="col-md-4">
              <img src="/img/agile/logounjbg.png" alt="Pic" width="220" class="img-responsive center-block">
            </div>

            <div class="col-md-4">
              <img src="/img/agile/logoesis.png" alt="Pic" width="250" class="img-responsive center-block">
            </div>
          </div>

          <hr>

          <h3 id="auspiciadores">Auspicia</h3>
          <div class="row">
            <div class="col-md-4 mb1">
              <img src="/img/agile/logo-belatrix-01.png" alt="Pic" class="img-responsive center-block">
            </div>

            <div class=" col-md-4 mb1">
              <img src="/img/agile/tallertech.jpg" alt="Pic" class="img-responsive center-block">
            </div>

            <div class=" col-md-4 mb1">
              <img src="/img/agile/logo_LVL.black.png" alt="Pic" class="img-responsive center-block">
            </div>

            <div class="col-md-offset-2 col-md-4 mt mb1">
              <img src="/img/agile/noveltie.png" alt="Pic" class="img-responsive center-block">
            </div>

            <div class="col-md-4 mt mb1">
              <img src="/img/agile/logodirepro.png" alt="Pic" class="img-responsive center-block">
            </div>

          </div>

          <hr>


{{!--           <h3 id="contactanos">Contactanos</h3>

<form class="form-horizontal" id="form-cont" role="form" method="post" action="http://agilepuno.com/php/contacto.php">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nombres</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Nombres" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="message" class="col-sm-2 control-label">Mensaje</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" name="message"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <input id="submit" name="submit" type="submit" value="Enviar" class="btn btn-primary">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <!-- Will be used to display an alert to the user-->
    </div>
  </div>
</form> --}}

<h3 id="registrarse">Pre Inscripción</h3>

<h4>Pre Inscripción al evento Meotodologías Ágiles y Buenas Prácticas de Desarrollo de Software</h4>

<form class="well form-horizontal bv-form" action="/agile/preregistro" method="post" id="contact_form" ><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
<fieldset>

<!-- Form Name -->
<legend>Formulario de Pre Inscripción</legend>

<!-- Text input-->

<div class="form-group has-feedback">
  <label class="col-md-4 control-label">Nombres</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="first_name" placeholder="Nombres" class="form-control" type="text" data-bv-field="first_name">
    </div><i class="form-control-feedback bv-icon-input-group" data-bv-icon-for="first_name" style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength" data-bv-for="first_name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="first_name" data-bv-result="NOT_VALIDATED" style="display: none;">Escriba sus nombres</small></div>
</div>

<!-- Text input-->

<div class="form-group has-feedback">
  <label class="col-md-4 control-label">Apellidos</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Apellidos" class="form-control" type="text" data-bv-field="last_name">
    </div><i class="form-control-feedback bv-icon-input-group" data-bv-icon-for="last_name" style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength" data-bv-for="last_name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="last_name" data-bv-result="NOT_VALIDATED" style="display: none;">Escriba sus apellidos</small></div>
</div>

<!-- option select-->

<div class="form-group">
  <label class="col-md-4 control-label">Colaboración</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
      <select type="tipo" class="form-control" name="tipo">
              <option value="PROFESIONAL">Profesional y público en general (S/.50)</option>
              <option value="EGRESADO">Egresado UNJBG (S/.30 )</option>
              <option value="ESTUDIANTE">Estudiante (LIBRE - presentar carnet) </option>

      </select>

    </div>

  </div>
  <button type="button" class="btn btn-default fondos " data-toggle="tooltip" data-placement="top" title="Los fondos recaudados serán pro laboratorios y gastos del evento en general">?</button>
</div>

<!-- Text input-->
       <div class="form-group has-feedback">
  <label class="col-md-4 control-label">E-Mail</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="Correo electrónico" class="form-control" type="text" data-bv-field="email">
    </div><i class="form-control-feedback bv-icon-input-group" data-bv-icon-for="email" style="display: none;"></i>
  <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Escriba su correo electrónico</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Ingrese un correo valido</small></div>
</div>


<!-- Text input-->

<div class="form-group has-feedback">
  <label class="col-md-4 control-label">Telefono #</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="(051)" class="form-control" type="text" data-bv-field="phone">
    </div><i class="form-control-feedback bv-icon-input-group" data-bv-icon-for="phone" style="display: none;"></i>
  <small class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Inrese su número telefónico</small></div>
</div>


<!-- Text input-->

<div class="form-group has-feedback">
  <label class="col-md-4 control-label">Ciudad</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="city" placeholder="Ciudad" class="form-control" type="text" data-bv-field="city">
    </div><i class="form-control-feedback bv-icon-input-group" data-bv-icon-for="city" style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength" data-bv-for="city" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="city" data-bv-result="NOT_VALIDATED" style="display: none;">Ingrese su ciudad</small></div>
</div>



<div class="form-group">
  <div class="col-md-offset-4 col-md-4">
    <div class="g-recaptcha" data-sitekey="6Led9SYTAAAAAKLhsv0HUFRZL0n6bKZ4-TuU5H_S"></div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message" style="display:none">Exito <i class="glyphicon glyphicon-thumbs-up"></i> Le estaremos comunicando novedades a su correo. Gracias!.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="boton">Registrarse <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>

</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Exito has sido registrado. Te enviaremos un correo electrónico</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        </div>
      </div>



<script defer="" src="/js/agile/material.min.js"></script>


<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn26PVNnI0BqB-umXi2hpf6BFr7P1Ll4M" type="text/javascript"></script>
<script>


      function initMap(){
        var myOptions = {zoom:15,center:new google.maps.LatLng(-18.02426,-70.24901),mapTypeId: google.maps.MapTypeId.ROADMAP};
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-18.02426,-70.24901)});
      infowindow = new google.maps.InfoWindow({content:"<b>Auditorio Central UNJBG" });
      google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
      infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script defer="" src="/js/agile/scripts.js"></script>





      <footer>
        Powered by <a target="_blank" href="http://agilepuno.com">Agile Puno</a>
      </footer>

</body>
</html>
