<header>
  <nav class="navigation">
    <div id="logo">
      <img class="nav-logo" src="img/logo.png" alt="">

      <h2 class="items nav-items">

        <span class="header-title-number"> XVII</span>
        <span class="header-title-text"> CIIS</span>

      </h2>
      <span class="separator nav-items"></span>
      <p class=" items header-subtitle nav-items">
        CONGRESO <br>
        INTERNACIONAL <br>
        DE INFORMATICA <br>
        Y SISTEMAS <br>
      </p>

    </div>
    <!-- <div id="logo">Your Logo here</div> -->

    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
    <ul class="menu" >
      <li ><a data-scroll href="#index">Inicio</a></li>
      <li ><a data-scroll href="#schedule">Cronograma</a></li>
      <li ><a data-scroll href="#pricing-table">Precios</a></li>
      <li ><a id="contactBtn" href="#animatedModal">Contacto</a></li>
      <li class="hidden-sm hidden-md hidden-xs"><span class="separator"></span></li>
      <li class="hidden-sm hidden-md hidden-xs" ><a href="https://www.facebook.com/ciistacna/?fref=ts" target="_blank" class="icon-facebook-with-circle"></a></li>
      <li class="hidden-sm hidden-md hidden-xs" ><a href="https://twitter.com/ciistacna" target="_blank" class="icon-twitter-with-circle"></a></li>

    </ul>



</nav>
  <!-- <nav>
    <ul class="menu" >
      <li class="menu-items"><a data-scroll href="#index">Inicio</a></li>
      <li class="menu-items"><a data-scroll href="#schedule">Cronograma</a></li>
      <li class="menu-items"><a data-scroll href="#">Temario</a></li>
      <li class="menu-items"><a data-scroll href="#pricing-table">Precios</a></li>
      <li class="menu-items"><a id="contactBtn" href="#animatedModal">Contacto</a></li>
    </ul>
    <span class="separator"></span>
    <a href="https://www.facebook.com/ciistacna/?fref=ts" target="_blank" class="icon-facebook-with-circle"></a>
    <a href="https://twitter.com/ciistacna" target="_blank" class="icon-twitter-with-circle"></a>
  </nav> -->
</header>
